#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	aliases {
		sw0 = &user_button;
		led0 = &blue_led;
	};

	chosen {
		zephyr,flash-controller = &flash;
	};

	leds {
		compatible = "gpio-leds";

		blue_led: led_0 {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
		};
	};

	buttons {
		compatible = "gpio-keys";

		user_button: button_0 {
			gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Boot Button";
		};
	};
};

&gpio0 { status = "okay"; };
&gpio1 { status = "okay"; };
&wdt1  { status = "okay"; };
