#include <zephyr/dt-bindings/i2c/i2c.h>
#include <dt-bindings/pinctrl/esp32-pinctrl.h>

/ {
	chosen {
		zephyr,display = &ssd1306;
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	sda-gpios = <&gpio0 21 GPIO_OPEN_DRAIN>;
	scl-gpios = <&gpio0 22 GPIO_OPEN_DRAIN>;

	ssd1306: ssd1306@3c {
		compatible = "sinowealth,sh1106";
		reg = <0x3c>;
		width = <128>;
		height = <64>;
		segment-offset = <2>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		prechargep = <0x22>;
		ready-time-ms = <10>;
		segment-remap;
		com-invdir;
		use-internal-iref;
	};
};

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <0x1E1E15>, <0x1D1D16>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};
};
